# Project exclude paths
.idea
/.gradle/
/Encryption-Decryption/task/build/
/Encryption-Decryption/task/out/
/Encryption-Decryption/task/out/production/classes/
/Problems/Find mistake/out/
/Problems/Find mistake/out/production/classes/
/Problems/Shape hierarchy/out/
/Problems/Shape hierarchy/out/production/classes/